$primary: #1fb66d;

.add {
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 0.5rem;
}

.add__input {
	border: 0.1rem solid black;
	padding: 0.5rem;
	border-radius: 0.25rem;
	outline: none;
}

.add__btn {
	padding: 0.5rem 0;
	font-weight: 600;
	font-size: 1.25rem;
	cursor: pointer;
	outline: none;
	border: none;
	text-transform: capitalize;
	color: white;
	background: $primary;
	outline: none;
	text-align: center;
	border-radius: 0.25rem;
	&[disabled] {
		opacity: 0.7;
		pointer-events: none;
	}
}
